// fontface.scss file

@font-face {
  font-family: 'signikabold';
  src: url('signika-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signikalight';
  src: url('signika-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signikaregular';
  src: url('signika-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signikasemibold';
  src: url('signika-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
