@font-face {
  font-family: 'signikabold';
  src: url("../font/signika-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikalight';
  src: url("../font/signika-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikaregular';
  src: url("../font/signika-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikasemibold';
  src: url("../font/signika-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8; }

body {
  background-image: -webkit-linear-gradient(top, #000d1c, #00142b);
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden; }

.body-bg {
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/body-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%; }

#container {
  margin: auto;
  width: 1200px;
  height: 640px; }

#detailText {
  font-family: 'signikalight';
  font-size: 10px;
  text-shadow: 0 0 8px #1a85ff; }

#pxgLogo {
  width: 60px;
  height: 14px;
  background-image: url("../img/pixelgrid-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }
