@import "fontface";
@import "functions";

// ***********************
// base color
// ***********************
$baseColor: #1A85FF; // blue

$bodyTopColor: getDarkColor( $baseColor );
$bodyBottomColor: lighten( getDarkColor( $baseColor ), 3 );

$sparkleColor: getSparkleColor( $baseColor );



// ***********************
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $sparkleColor;
}

body {
  background-image: -webkit-linear-gradient(top, $bodyTopColor, $bodyBottomColor );
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
}

.body-bg {
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/body-bg.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

#container {
  margin: auto;
  width: 1366px;
  height: 768px;
}

#pxgLogo {
  width: 60px;
  height: 14px;
  background-image: url('../img/pixelgrid-logo.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
